.cart-item{
    padding: 5px 0px;
    margin: 5px 0px;
    background-color: gainsboro;
    border-radius: 5px;
}

.cart-item-title{
    font-size: 14px;
    font-weight: 900;
    padding-top: 10px;
}

.cart-item-quantity{
    width: 30px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border: none;
    
}

.cart-q-btn{
    background-color: transparent;
    color: red;
    border-radius: 50%;
    border: none;
    padding: 0px 8px;
    margin: 5px;
}

.cart-q-btn:focus{
    outline: none;
}